input {
   -webkit-appearance: none;
   -webkit-border-radius: 0;
   
}
input::-ms-clear,
input::-ms-reveal{
	display:none;width:0;height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}
/*==================
	입력 폼
==================*/

input[type="text"]{box-sizing:border-box; width:100%; height:60px; border:1px solid #dddddd; 
 font-size:16px;  color:#000; padding:0 10px;  letter-spacing: -0.4px; } 
input[type="text"]:focus {border:1px solid #c9ddc7;  color:#000;   outline: 0; box-shadow: none;}
input[type="text"]:disabled { border:1px solid #bababa; background:#f4f4f4; color:#999; }
input[type="text"]:disabled::placeholder {color:#999; }
input[type="text"]::-webkit-input-placeholder {color:#999; letter-spacing: -1px; }
input[type="text"]::-moz-placeholder {color:#999;  letter-spacing: -1px; } 
input[type="text"]:-moz-placeholder {color:#999; letter-spacing: -1px;  }
input[type="text"]:-ms-input-placeholder {color:#999;  letter-spacing: -1px; } 
input[type="text"].transparent { }

input[type="password"] {box-sizing:border-box;  width:100%; height:60px; 
border:1px solid #dddddd;  font-size:16px; color:#000; padding:0 10px; } 
input[type="password"]:focus {border:1px solid #1c2957;    outline: 0; box-shadow: none;}
input[type="password"]:disabled { border:1px solid #bababa; background:#f4f4f4; color:#999; }
input[type="password"]:disabled::placeholder {color:#999; }

input[type="password"]::-webkit-input-placeholder {color:#999; }
input[type="password"]::-moz-placeholder {color:#999; } 
input[type="password"]:-moz-placeholder {color:#999; }
input[type="password"]:-ms-input-placeholder {color:#999; } 
input[type="password"].transparent {}

input[type="tel"] {box-sizing:border-box; width:100%; height:60px; border:1px solid #dddddd;  font-size:16px; 
color:#000; padding:0 10px; } 
input[type="tel"]:focus {border:1px solid #c9ddc7;  color:#999;   outline: 0; box-shadow: none;}
input[type="tel"]:disabled { border:1px solid #bababa; background:#f4f4f4; color:#999; }
input[type="tel"]:disabled::placeholder {color:#999; }
input[type="tel"]::-webkit-input-placeholder {color:#999; }
input[type="tel"]::-moz-placeholder {color:#999; } 
input[type="tel"]:-moz-placeholder {color:#999; }
input[type="tel"]:-ms-input-placeholder {color:#999; }
input[type="tel"].transparent { }

input[type="search"]{box-sizing:border-box; width:100%; height:60px; border:1px solid #979797; color:#000; padding:0 10px; } 
input[type="search"]:focus {border:1px solid #c9ddc7;  color:#000;   outline: 0; box-shadow: none;}
input[type="search"]:disabled { border:1px solid #bababa; background:#f4f4f4; color:#999; }
input[type="search"]:disabled::placeholder {color:#999; }
input[type="search"]::-webkit-input-placeholder {color:#999; }
input[type="search"]::-moz-placeholder {color:#999; } 
input[type="search"]:-moz-placeholder {color:#999; }
input[type="search"]:-ms-input-placeholder {color:#999; } 
input[type="search"].transparent { }

textarea{border:1px solid #dddddd; color:#000;  font-size:16px; box-sizing:border-box; width:100%; padding:10px;}
textarea:focus{border:1px solid #c9ddc7;  color:#000;   outline: 0; box-shadow: none;}
textarea::placeholder {color:#999; opacity: 1;}

/*==================
	체크박스
==================*/
input[type="checkbox"] {display:none; }
input[type="checkbox"] + label {
	background:url(../images/input-chack-off.png) no-repeat; 
	background-size:25px 25px; 
	min-width:25px; 
	height:25px; 
	line-height:25px;  
	display: inline-block; 
	font-size:16px; 
	padding-left:40px; 
	color: #666;
	letter-spacing: -0.45px; 
}
input[type="checkbox"]:checked + label {background:url(../images/input-chack-on.png) no-repeat; background-size:25px 25px;  font-size:17px;
letter-spacing: -0.45px;}
input[type="checkbox"]:disabled + label {background:url(../images/input-chack-no.png) no-repeat; background-size:25px 25px;  font-size:17px;
letter-spacing: -0.45px;}

input[type="checkbox"] + label.none {font-size:0; width:25px; height:25px; text-indent:-99999px; padding-left:0; }

/*==================
	라디오버튼
==================*/
input[type="radio"] {display:none; }
input[type="radio"] + label {
	background:url(../images/input-radio-off.png) no-repeat; 
	background-size:25px 25px;  
	min-height:25px; 
	line-height:25px; 
	padding-left:30px; 
	display: inline-block;
	margin-right: 20px;
	font-size:16px;
 }
input[type="radio"]:checked + label {background:url(../images/input-radio-on.png) no-repeat; background-size:25px 25px; }
input[type="radio"]:disabled + label {background:url(../images/input-radio-dim.png) no-repeat; background-size:25px 25px; }


/*input*/
input.radius{border-radius:8px; font-size:24px; color:#000; font-weight:500; border:1px solid #5f6062; min-width:150px; height:50px;}
input.none{ border:none; width:160px; height:50px; font-size:24px; color:#000;font-weight:500;}


/*==================
	버튼 NEW
==================*/

.btn{
	font-size:17px; 
	color:#fff; 
	font-weight: 500;
	background:#666666; 
	padding:24px 0;
	min-width: 130px;
	height:60px; 
	line-height: 17px;
	box-sizing:border-box;
	display:inline-block; 
	text-align:center;
	color: #fff !important;
	
}

.btn.md{ 
	min-width:160px !important; 
	height:60px !important; 
	font-size:16px !important;
	line-height: 17px; 
}

.btn.small{ 
	width:90px !important; 
	height:48px !important;
	font-size:20px; 
	line-height: 17px; 
}
.btn.xsmall{ 
	height:20px; 
	font-size:12px;
}

.btn.larg{
	width:270px !important; 
}

.btn.block{
	display:block;
}

.btn.radius{

}
.btn.round{
	border-radius:30px; 
	height:60px; 
	font-size:18px;
}


.btn.bg-gray{background:#666666;}
.btn.bg-lightgray{background:#dddddd; color: #666 !important;}
.btn.bg-green{background:#002f10;}
.btn.bg-ygreen{background:#81c253;}
.btn.bg-blue{background:#00b4ff;color: #fff;}
.btn.line-dark{background:#fff; border:1px solid #333; color: #333 !important;}
.btn.bg-white{background:#fff;}
.btn.line-lightgray{ border:1px solid #ccc; color: #ccc !important;}

.btn.add{width:131px; height:48px !important; padding:11px 0 14px 0; font-size:20px; box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.5);
background:#002f10; color:#fff; text-align:center; vertical-align: top;}
.btn.add:before{content:""; width:30px; height:30px; background:url(../images/icon-add.png) left top no-repeat; background-size:30px 30px;
margin-right:10px;}


/*select*/
select.select{
	width: 100%;
	height: 60px;
	border: 1px solid #ddd;
	background: url(../images/icon-arrow-select.png) 95% center no-repeat;
	background-size: 13px 7px;
	appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
	color: #999999;
	padding: 0 10px;
}
select option[value=""][disabled] {
	display: none;
}
select:focus{
	outline: none;
}

select.select option{
	height: 60px;
	padding: 10px;
}

textarea.textarea{
	height: 150px;
	border: 1px solid #ddd;
	padding: 10px 15px;
	box-sizing: border-box;
	line-height: 25px;
}


/*달력*/
.calendar{position:relative;}
.calendar input.calendar-input{ border:1px solid #979797; width:170px; border-radius:8px;}
.calendar em{position:absolute; right:7px; top:5px;}
.calendar input.calendar {
    width: 36px;
    height: 36px;
    background: url(../images/icon-calendar.png) left top no-repeat;
    background-size: 36px 36px;
    font-size: 0;
    text-indent: -99999px;
	border:none;
}

/*==================
	토굴 체크박스
==================*/
.toggle-input{ margin-top: -10px;}
.toggle-input input{display:none;}
.toggle-input input[type="radio"] + label{ 
	display:inline-block; 
	width:80px; 
	height:45px; 
	cursor:pointer; 
	position:relative; 
	background:#c0c0c0;
	float:left;
	color:#002f0f;
	padding-left:0;
	text-align:center;
	line-height:47px;
	
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.27);
	font-size:20px;
	text-indent:0;
}
.toggle-input label:before{ 
	content:""; 
	width:80px; 
	height:45px; 
	position:absolute; 
	left:79px; 
	bottom:0; 
	background:#fff;
	transition:all .4s ease;
	border:1px solid red;
	display:none;
}

.toggle-input input:checked + label{
	background-color:#002f0f; 
	color:#fff; 
	background-image:none;
}
.toggle-input input:checked + label:before{
	background:#000;
    transform: translateX(65px);
	
}

.toggle-input input + label.first{
	border-top-right-radius:0;
	border-bottom-right-radius:0;
}
.toggle-input input + label.last{
	border-top-left-radius:0;
	border-bottom-left-radius:0;
}




/*==================
	select-ui
==================*/


.select-ui {
  position: relative;
  width: 340px;
}

.select-ui p button {
  z-index: 10;
  position: relative;
  display: block;
  width: 340px;
  height:50px;
  border-radius:8px;
  padding:6px 18px 0 18px;
  font-size: 24px;
  background: #fff url(../images/bl-select.png) no-repeat 95% 8px;
  background-size:36px 36px;
  border: 1px solid #5f6062;
  text-align:left;
}

.select-ui p button.on {
 
}

.select-ui p button:hover {
  text-decoration: none;
  color: #000;
}

.select-ui ul {
  display:none;
  position: absolute;
  width: 340px;
  overflow: hidden;
  overflow-y: scroll;
  left: 0;
  padding: 7px 0 7px;
  border: 1px solid #5f6062;
  border-radius:8px;
  background: #fff;
  margin-top:38px;
  z-index:9999999;
}


.select-ui ul li button {
  display: block;
  padding: 18px 20px;
  color: #000;
  font-size: 24px;
  text-decoration: none;
}

.select-ui ul li button:hover {
  color: #000;
  text-decoration: none;
  background: #eff5ff;
}


/*selectbox*/
.selectbox { 
	position: relative; 
	width: 200px; /* 너비설정 */ 
	border: 1px solid #5f6062; /* 테두리 설정 */ 
	z-index: 1; 
	border-radius:8px;
	height:50px
} 

.selectbox:before { 
	/* 화살표 대체 */ 
	content: ""; 
	position: absolute; 
	top: 7px; 
	right: -2px; 
	width: 49px; 
	height: 36px; 
	margin-top: -1px; 
	/*border-left: 5px solid transparent; 
	border-right: 5px solid transparent; 
	border-top: 5px solid #333; */
	background:url(../images/bl-select-m.png) left top no-repeat;
	background-size:49px;
	height:36px;
} 

span.selectbox{
	border:1px solid #979797;
	width:170px;
	height:60px;
	vertical-align:middle;
}
span.selectbox:before{
	background:url(../images/bl-select-s.png) left top no-repeat;
	background-size:36px 36px;
	width: 36px; 
	height: 36px; 
	right: 5px; 
}

.selectbox label { 
	position: absolute; 
	top: 1px; /* 위치정렬 */ 
	left: 5px; /* 위치정렬 */ 
	padding: 8px 5px; /* select의 여백 크기 만큼 */ 
	color: #222; 
	z-index: -1; /* IE8에서 label이 위치한 곳이 클릭되지 않는 것 해결 */
} 
.selectbox select { 
	width: 100%; 
	height: auto; /* 높이 초기화 */ 
	line-height: normal; /* line-height 초기화 */ 
	font-family: inherit; /* 폰트 상속 */ 
	padding: .8em .5em; /* 여백과 높이 결정 */ 
	border: 0; opacity: 0; /* 숨기기 */ 
	filter:alpha(opacity=0); /* IE8 숨기기 */ 
	-webkit-appearance: none; /* 네이티브 외형 감추기 */ 
	-moz-appearance: none; 
	appearance: none; 
}


/*.selectbox.focus {
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}*/

